# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
audioread==2.1.4
bleach==1.5.0
bzip2==1.0.6
ca-certificates==2018.03.07
certifi==2018.4.16
cffi==1.11.5
cudatoolkit==8.0
cudnn==7.0.5
cuda==8.0_0
cycler==0.10.0
dbus==1.10.22
decorator==4.2.1
expat==2.2.5
ffmpeg==2.8.6
fontconfig==2.12.6
freetype==2.8.1
gettext==0.19.8.1
glib==2.55.0
gst-plugins-base==1.8.0
gstreamer==1.8.0
h5py==2.7.1
hdf5==1.10.1
html5lib=0.9999999
icu==58.2
intel-openmp==2018.0.0
joblib==0.11
jpeg==9b
keras==2.1.5
kiwisolver==1.0.1
libffi==3.2.1
libgcc-ng==7.2.0
libgfortran==3.0.0
libgfortran-ng==7.2.0
libgpuarray==0.7.5
libiconv==1.15
libpng==1.6.34
libprotobuf==3.5.1
librosa==0.6.0
libstdcxx-ng==7.2.0
libxcb==1.13
libxml2==2.9.8
llvmlite==0.21.0
mako==1.0.7
markdown==2.6.11
markupsafe==1.0
matplotlib==2.2.2
mkl==2018.0.2
mkl_fft==1.0.1
mkl_random=1.0.1
ncurses==5.9
numba==0.36.2
numpy==1.14.2
openssl==1.0.2o
pandas==0.22.0
pcre==8.41
pip==9.0.3
protobuf==3.5.1
pycparser==2.18
pygpu==0.7.5
pyparsing==2.2.0
pyqt==5.6.0
python==3.6.5
python-dateutil==2.7.2
pytz==2018.3
pyyaml==3.12
qt==5.6.2
readline==7.0
resampy==0.2.0
scikit-learn==0.19.1
scipy==1.0.1
setuptools==39.0.1
sip==4.18
six==1.11.0
sqlite==3.20.1
tensorflow-gpu==1.4.1
tensorflow-gpu-base==1.4.1
tensorflow-tensorboard==1.5.1
theano==1.0.1
tk==8.6.7
tornado==5.0.1
tqdm==4.19.9
werkzeug==0.14.1
wheel==0.30.0
x264==20131217
xorg-libxau==1.0.8
xorg-libxdmcp==1.1.2
xz==5.2.3
yaml==0.1.7
zlib==1.2.11
